.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 9px 10px;  
  font-size: 18px; 
  width: 100%;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.googleButton:hover {
  background-color: #f5f5f5;
  border-color: #aaa;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleIcon {
  width: 24px;
  height: 24px;
}

.buttonText {
  font-size: 14px;  
}
